// primary color
$primary-blue-clr: hsl(223, 87%, 63%);

// secondary color
$secondary-blue-clr: hsl(223, 100%, 88%);
$light-red-clr: hsl(354, 100%, 66%);

// neutral color
$gray-clr: hsl(0, 0%, 59%);
$dark-blue-clr: hsl(209, 33%, 12%);