/* Google Fonts - Libre Franklin */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$font-libre: "Libre Franklin", sans-serif;
$font-size: 20px;

$fw-300: 300;
$fw-600: 600;
$fw-700: 700;
